[project]
	description = Monte Carlo Simulation of SPC/E Water Interfaces
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/q10
[access "refs/for/refs/*"]
	read = group user/q10
	push = group user/q10
	label-Code-Review = -2..+2 group user/q10
	label-Verified = -1..+1 group user/q10
	rebase = group user/q10
	removeReviewer = group user/q10
	submit = group user/q10
[access "refs/heads/*"]
	read = group user/q10
	create = group user/q10
	push = +force group user/q10
	pushMerge = group user/q10
[access "refs/tags/*"]
	push = +force group user/q10
	pushTag = group user/q10
	pushSignedTag = group user/q10
